body{
    background-color: royalblue;  
}
.red-box {
  background-color: red;
  margin: auto;
  border: 4px;
  border-color: goldenrod;
  border-style: solid;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  display: inline-block;
  align-content: center;
  text-align: center;
}  
.rgb-box{
    background-color:rgb(168, 50, 139);
    width: 100px;
    height: 100px;
    margin: auto;
    border: 4px;
    border-style: solid;
    border-color: goldenrod;
    border-radius: 10px;
    display: inline-block;
    align-content: center;
    text-align: center;
} 
.hex-box{
    background-color: #32a88f;
    width: 100px;
    height: 100px;
    border: 4px;
    border-color: goldenrod;
    border-style: solid;
    border-radius: 10px;
    display: inline-block;
    align-content: center;
    text-align: center;
}
.short-hex{
    background-color: #fcba03;
    border: 4px;
    border-color: rgb(35, 32, 218);
    border-style: solid;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: inline-block;
    align-content: center;
    text-align: center;
}
.hsl-box{
    background-color: hsl(61, 82%, 56%);
    width: 100px;
    height: 100px;
    border: 4px;
    border-color: goldenrod;
    border-style: solid;
    border-radius: 10px;
    display: inline-block;
    align-content: center;
    text-align: center;
    
}
.name{
    background-image: url(./background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-size: 2000px;
    background-attachment: fixed;
    font-size: 30px;
}
body{
    
.card{
    background-color:lightgreen;
    border: lightslategray;
    width: 350px;
    height: 400px;
    text-align: center;
    align-content: center;
    border-style: solid;
    border-radius: 10px;
    margin: auto;

}
.card button{
    background: linear-gradient(blue,green);
    border-radius: 4px;
}
.card image {
    border-color: grey;
    border-style: solid;
    width: 100px;
    border-radius: 40px;
}
.discription{
    font-size: 30px;
    text-align: center;
}